/*

 * What follows is the result of much research on cross-browser styling.

 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,

 * Kroc Camen, and the H5BP dev community and team.

 */
/* ==========================================================================

   Base styles: opinionated defaults

   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*

 * Remove text-shadow in selection highlight:

 * https://twitter.com/miketaylr/status/12228805301

 *

 * Vendor-prefixed and regular ::selection selectors cannot be combined:

 * https://stackoverflow.com/a/16982510/7133471

 *

 * Customize the background color to match your design.

 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*

 * A better looking default horizontal rule

 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*

 * Remove the gap between audio, canvas, iframes,

 * images, videos and the bottom of their containers:

 * https://github.com/h5bp/html5-boilerplate/issues/440

 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*

 * Remove default fieldset styles.

 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*

 * Allow only vertical resizing of textareas.

 */
textarea {
  resize: vertical; }

/* ==========================================================================

   Browser Upgrade Prompt

   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================

   Author's custom styles

   ========================================================================== */
html, body {
  height: 100%;
  width: 100%; }

.videocontainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1; }
  .videocontainer video {
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.navigation li {
  padding: 5px 10px;
  font-size: 1.5em; }

.navigation a {
  color: white;
  cursor: pointer; }
  .navigation a:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none; }

#navlow li {
  font-size: 1.2em; }

.contact {
  border: 2px solid white;
  padding: 10px 10px; }
  .contact:hover {
    background-color: white; }

#description ul {
  margin: 0px; }

#description.absolute {
  bottom: 0px; }

#description.fixed {
  top: 0px; }

.beauty {
  color: white;
  padding-top: 12px;
  margin-top: 20px;
  font-size: 2em; }
  .beauty li {
    list-style: none; }

.logo {
  width: 100px; }

.logo2 {
  width: 40px;
  margin: 30px 50px; }

#menuOpener {
  display: none; }

#MmenuOpener {
  display: none; }

table {
  position: auto;
  width: auto;
  height: auto;
  text-align: center;
  border: 2px solid black;
  font-weight: bold;
  letter-spacing: 0.02pt;
  word-spacing: 0.01pt;
  left: 10%;
  margin: 20px auto;
  padding: 40rem;
  overflow: scroll; }

.hora {
  font-family: Roboto,sans-serif;
  font-weight: bold;
  font-size: 20px;
  height: 10px; }

.evento {
  font-weight: normal;
  font-style: italic;
  font-size: 15px;
  height: 60px; }

.meses {
  height: 50px;
  letter-spacing: 2pt; }

.separador {
  height: 100px; }

/* ==========================================================================

   Helper classes

   ========================================================================== */
.fullheight {
  height: 100%; }

.fullheightp {
  height: 250%; }

.fullwidth {
  width: 100%; }

.row {
  margin: 0; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.up {
  z-index: 2; }

.white {
  color: white; }

.blackfont {
  color: black; }

.black {
  background-color: black; }

.whiteback {
  background-color: white; }

.burly {
  background-color: BurlyWood; }

.antique {
  background-color: antiquewhite; }

.largepadding {
  padding: 10px 15px; }

.lobster {
  font-family: 'Lobster', cursive; }

.bungee {
  font-family: 'Bungee' , cursive , sans-serif; }

.big {
  font-size: 5em; }

.medium {
  font-size: 2em; }

.small {
  font-size: 200em; }

.no-margin {
  margin: 0px; }

.addpaddingtop {
  padding-top: 15rem; }

.addpaddingtop2 {
  padding-top: 5rem; }

.addpaddingbot {
  padding-bottom: 10rem; }

.addpaddingbot2 {
  padding-bottom: 1.4em; }

.top {
  top: 2em; }

.right {
  right: 5em; }

.bottom {
  bottom: 0px; }

.lwhite li {
  list-style: none;
  display: inline-block; }

.lwhite a {
  color: white; }

.addmargintop {
  margin-top: 30%; }

/*

 * Hide visually and from screen readers

 */
.hidden {
  display: none; }

/*

 * Hide only visually, but have it available for screen readers:

 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility

 *

 * 1. For long content, line feeds are not interpreted as spaces and small width

 *    causes content to wrap 1 word per line:

 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe

 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*

 * Extends the .visuallyhidden class to allow the element

 * to be focusable when navigated to via the keyboard:

 * https://www.drupal.org/node/897638

 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*

 * Hide visually and from screen readers, but maintain layout

 */
.invisible {
  visibility: hidden; }

/*

 * Clearfix: contain floats

 *

 * For modern browsers

 * 1. The space content is one way to avoid an Opera bug when the

 *    `contenteditable` attribute is included anywhere else in the document.

 *    Otherwise it causes space to appear at the top and bottom of elements

 *    that receive the `clearfix` class.

 * 2. The use of `table` rather than `block` is only necessary if using

 *    `:before` to contain the top-margins of child elements.

 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================

   EXAMPLE Media Queries for Responsive Design.

   These examples override the primary ('mobile first') styles.

   Modify as content requires.

   ========================================================================== */
@media only screen and (max-width: 500px) {
  #responsive-nav ul {
    top: 90px; } }

@media only screen and (max-height: 600px) {
  .crono {
    margin-top: -5%; }
  .res {
    font-size: 1.5em; }
  .rules {
    margin-top: 35%; } }

@media only screen and (max-width: 960px) {
  .logo {
    max-height: 90%;
    height: auto; }
  #navigation ul {
    position: absolute;
    width: 100;
    font-size: 1.5em;
    top: 95px;
    background-color: #222;
    left: 0px;
    text-align: center;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    #navigation ul.active {
      max-height: 80vh; }
  #navigation li {
    display: block;
    margin-top: 1em;
    padding: 10px 15px; }
  #menuOpener {
    display: block; }
  #MmenuOpener {
    display: block; }
  #responsive-nav ul {
    position: absolute;
    width: 100%;
    font-size: 1.5em;
    top: 95px;
    background-color: #222;
    left: 0px;
    text-align: center;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    #responsive-nav ul.active {
      max-height: 80vh; }
  #responsive-nav li {
    display: block;
    margin-top: 1em;
    padding: 10px 15px; } }

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5/4), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================

   Print styles.

   Inlined to avoid the additional HTTP request:

   http://www.phpied.com/delay-loading-your-print-css/

   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:

                                   http://www.sanbeiji.com/archives/953 */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*

     * Don't show links that are fragment identifiers,

     * or use the `javascript:` pseudo protocol

     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*

     * Printing Tables:

     * http://css-discuss.incutio.com/wiki/Printing_Tables

     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
