doctype html
html(class="no-js" lang="es")
  head
    meta(charset="utf-8")
    title Summus Games
    meta( name="description" content="Comunidad de desarrolladores de juegos")
    link(href="./css/normalize.css" rel="stylesheet")
    link(href="./css/styles.css" rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css", rel="stylesheet", integrity="sha384-zF4BRsG/fLiTGfR9QL82DrilZxrwgY/+du4p/c7J72zZj+FLYq4zY00RylP9ZjiT", crossorigin="anonymous")
    link(href="https://cdn.jsdelivr.net/flexboxgrid/6.3.2/flexboxgrid.min.css" rel="stylesheet")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bungee")
    meta( name="viewport" content="width=device-width, initial-scale=1")
    script(src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    script(src="./js/modernizr-2.8.3.min.js")
    script(src="./js/main.js")
    script(src="./js/steps.js")
    -window.jQuery || document.write("<script src='./js/jquery-3.2.1.min.js'><\/script>")

  body
    .black.white-text.full-height#contact
    .row.middle-xs.full-height
      .col-xs-12
        .box 
          form(action="http://formspree.io/ladytrejos@utp.edu.co", method="POST", id="contact-form", class="step-form")
            .row.center-xs
              .col-xs-2.col-md-1.text-center
                .box
                -3.times do |i|
                  -if i == 0
                    .path-step.active
                  -else
                    .path-step
                  br
              .col-xs-5
                .box
                  fieldset.step.active
                    input(type="email", name="email", placeholder="Coloca tu correo electrónico", class="input", required=true)
                  fieldset.step
                    input(type="text", name="name", placeholder="Coloca tu nombre", class="input", required=true)
                  fieldset.step
                    textarea(name="body", placeholder="Escribe aquí tu mensaje", class="input", required=true)
                  div 
                    button(type="submit", class="btn")
                      Enviar